<div class="ui grid">
    <div class="center aligned doubling four column row">
        <div class="column">
            <a href="#" class="ui basic big fluid button" id="export-btn">
                <i class="save icon"></i>
                {{ 'boldy.export'|trans }}
                {{ render(controller('boldy.controller.export:index')) }}
            </a>
        </div>
    </div>
</div>
